.footer {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
}

.links {
  display: flex;
  list-style: none;
  gap: var(--space-xs);
  padding: 0;
  margin: 0;
}

.social {
  display: flex;
  list-style: none;
  gap: var(--space-xs);
  padding: 0;
  margin: 0;
}
